<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KGB</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="<?php echo assets('/css/switcher.css'); ?>">
<link rel="stylesheet" href="<?php echo assets('/css/bootstrap.min.css'); ?>">
<link rel="stylesheet" href="<?php echo assets('css/owl.carousel.min.css'); ?>">
<link rel="stylesheet" href="<?php echo assets('/css/animate.min.css'); ?>">
<link rel="stylesheet" href="<?php echo assets('/css/swipebox.min.css'); ?>">
<link rel="stylesheet" href="<?php echo assets('/style.css'); ?>">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<!-- Google fonts
++++++++++++++++++++++++++++++++++++++ -->
<link href='http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic' rel='stylesheet' type='text/css' />

</head>